/* Resetear márgenes y rellenos en todo el documento */
body, h1, h2, h3, p, img {
    margin: 0;
    padding: 0;
}

/* Estilo para el cuerpo de la página */
body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2; /* Color de fondo pastel */
}

/* Estilo para el encabezado */
header {
    background-color: #ffcc99; /* Color de fondo pastel amarillo claro */
    text-align: center;
    padding: 20px;
}
.logo {
    display: flex;
}

/* Estilo para los títulos */
h1, h2, h3 {
    color: #333; /* Color de texto oscuro */
}

/* Estilo para la sección de destacados */
#destacados {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 20px;
    background-color: #b3e0ff; /* Color de fondo pastel azul claro */
}

.juego {
    flex: 1;
    max-width: 30%;
    background-color: #ffb3b3; /* Color de fondo pastel rojo claro */
    margin: 10px;
    padding: 20px;
    text-align: center;
}

.juego img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

/* Estilo para la sección de novedades */
#novedades {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 20px;
    background-color: #ffff99; /* Color de fondo pastel amarillo claro */
}

.noticia {
    flex: 1;
    max-width: 45%;
    background-color: #ecc08a; /* Color de fondo pastel verde claro */
    margin: 10px;
    padding: 20px;
    text-align: center;
}

.noticia img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

/* Estilo para el pie de página */
footer {
    background-color: #333; /* Color de fondo oscuro para el pie de página */
    color: #fff; /* Color de texto blanco para el pie de página */
    text-align: center;
    padding: 10px;
}

/* Consulta de medios para pantallas más pequeñas */
@media screen and (max-width: 768px) {
    #destacados, #novedades {
        flex-direction: column;
        align-items: center;
    }

    .juego, .noticia {
        max-width: 90%;
    }
}
